body {
    display: flex;
    flex-direction: column;
}
body header hr {
    width: 100vh;
}
.listings {
    display: flex;
}
.house {
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;
}
.houseImage {

}
.line2 h5 {
    display: inline;
}

